* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-image: url("../image/bg.png");

  }
  
  .header {
    background-color: #192317;
    padding: 1px;
    text-align: center;
    font-size: 20px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #192317;
    color: white;
    text-align: right;
 }
  
  /*Nav bar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000;
    background-color: #9AD1BF;
  }
  
  li {
    float: left;
  }

  li2 {
    float: right;
  }

  /*Nav Words*/
  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #72DDBA;
    color: white;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

  li2 a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li2 a:hover:not(.active) {
    background-color: #72DDBA;
    color: white;
  }
  
  li2 a.active {
    color: white;
    background-color: #04AA6D;
  }

  /*Input*/
  input[type=text],[type=tel],[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    background-color: #27998f;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #189AB4;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    padding: 15px;
  }
  
  .column.space{
    width:15%;
  }

  .column.left, .column.right{
    width: 10%;
  }

  .column.middle{
    width:80%;
    border-radius: 4px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    border-radius: 4px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column.side {
      width: 100%;
    }
  }

  /*Carousel*/
 .gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #1ac0aa;
  counter-increment: gallery-cell;
}

a2 {
  width: 80%;
  height: 300px;
  margin-right: 10px;
  text-align: center;
  background: #1ac0aa;
}


p {
  color: rgb(232, 232, 232); 
  font-family: 'Comic Sans MS'; 
  font-size: 30px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0 ;
  text-indent: 60px ;
}

p2 {
  padding: 8px;
  margin: 25px;
  
  /* other styling */
  background-color: #2f8a7e;
  border-radius: 10px;
  color: white;
  font-family: 'Sniglet'; 
  font-size: 30px;
}